.key{
    display: flex;
    gap: 24px;

    @include phone767(){
      flex-direction: column;
    }
}
.key-bg{
    width:948px;
    @include bgimg(640px,70%,'../img/About Section.png');

    @include tablet992(){
      width: 50%;
    }

    @include phone767(){
      width: 100%;
      height: 375px;
    }
   

}
.key-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

     @include phone767(){
      padding: 48px 12px;
      width: 100%;
    
    }

 
  

    h2{
        @include title28;
        width: 100%;
        margin-bottom: 8px;


         @include phone767(){
          width: 100%;
         }
        

    }

    p{
        @include line-clamp(2);
        width: 100%;
      

        @include phone767(){
          width: 100%;
         }
    }
    
}

.key-content-text{
  width: 81%;


}
.key-date{
  margin-bottom: 8px;
}



/*blog-main start*/

.blog-main{
    border-top: 1px solid #000;
    border-bottom:1px solid #000;
    

    .container{
      padding:80px 12px;

       @include phone767(){
          padding: 64px 12px;
         }
      
    }
}

.search{
  position: relative;
  
  
  input{
   
    border-radius: 40px ;
    padding: 16px 0 16px 50px;
    width: 416px;
    border: 1px solid $gray;

    @include phone767(){
          width: 100%;
         }
    

  }

  i{
    font-size: 24px;
    position: absolute;
    top: 6px;
    left: 16px;

  }
}




.blog-main-list{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:24px;
  
    
  li{
    width:31.3333%;
    margin:40px 0;

    @include tablet1366(){
      width: 48%;
    }

    @include phone767(){
       width: 100%;
    }

 
    
    
    h3{
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 8px;
    }
    
    img{
      margin-bottom: 16px;

      @include tablet1366(){
       width: 100%;
    }
    }
  }
}



.blog-main-text{
  color:$gray;
 
}

.blog-main-btn{
  width: 100px;
  margin-top: 16px;
  border: 1px solid #000;
  text-align: center;
  border-radius:40px;
  padding: 8px 16px;
  color:$gray;
  &:hover{
    background:$primary;
    color: #fff;
    
  }
}

.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  li{
    text-align: center;
    width: 40px;
  
    a{
      padding: 8px;
      color: $gray;

      &:hover{
        color: $primary;
      }


    }
  }

  span{
    color: $primary;
  }
}






























